.container {
  display: flex;
  flex-direction: column;

  .input_wrapper {
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 14.5px;

    input {
      flex: 1;
      padding: 0 12px;
      border: none;
      height: 100%;
      color: #bdbdbd;

      &:focus {
        outline: none;
        color: black;
      }
    }
  }

  .button {
    margin-top: 22px;
    padding: 0.5rem 0;
    width: 100%;
    color: white;
    background: #2f80ed;
    border-radius: 8px;
    border: none;

    p {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      text-align: center;
      letter-spacing: -0.035em;
    }
  }
}
